@model GadgetHub.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Completed";
}

<div class="text-light">
    <h2>Thank you for your order, @Model.Name!</h2>
    <h2>Your order has been successfully completed.</h2>
</div>
