@model GadgetHub.WebUI.Models.GadgetListViewModel

@{
    ViewBag.Title = "Catalog";
}

@foreach(var g in Model.Catalog)
{
    @Html.Partial("GadgetCatalogSummary", g);
}

@*Pagination*@
<div class="btn-group float-end">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>

